<!--<table border="1">-->

<!--<tr ng-repeat="productcart in productcarts">-->
<!--<td><input type="text" ng-model="productcart.productname" class="input-small"></td>-->
<!--<td><input type="number" ng-model="productcart.price"  class="input-mini">  </td>-->
<!--<td><input type="number" ng-model="productcart.imageUrl"  class="input-mini">  </td>-->
<!--<td><input type="number" ng-model="productcart.quantity"  class="input-mini">  </td>-->
<!--&lt;!&ndash;<td>{{item.qty * item.cost | currency}}</td>&ndash;&gt;-->
<!--<td>-->
<!--[<a href ng-click="removeItem($index)">X</a>]-->
<!--</td>-->
<!--</tr>-->
<!--</table>-->
<div class="container">

        <div class="row" style=" margin-bottom: 10px; ">
            <div class="col-md-4" style="height: 100px; width: 100px; background-color: #ccc;">


                logo
            </div>
            <div class="col-md-8"  style="height: 100px; width:88%; left:2%; background-color: #ccc;">

               <p class="pull-right"> another logo</p>

            </div>

        </div>

</div>
<div class="container">
    <div class="row">
        <div class="col-md-10 search-bar">

            <div id="custom-search-input">
                <div class="input-group col-md-12">
                    <input type="text" ng-model="search" class="form-control input-lg" placeholder="Search" />

                    <span class="input-group-btn">
                        <button class="btn btn-info btn-small" type="button" >
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
                </div>



            </div>
        </div>
        <div class="col-md-2">
            <i class="glyphicon glyphicon-shopping-cart homecart-icon"></i>
            <span class="badge homecart-badge pull-right">1</span>
        </div>
    </div>
</div>



<div class="container">
    <div class="row">

        <div class="col-md-3" ng-controller="productcontroller">

            <p class="lead">{{categories.description.name}}</p>
            <ul class="dropdown-menu" id="parentMenu" role="menu" aria-labelledby="dropdownMenu" ng-cloak>

                <!-- Child Menu -->
                <li class="dropdown-submenu" ng-repeat="menu in menus"><a href="#/products/{{menu.code}}/">{{menu.description['name'] |
                    uppercase}}</a>
                    <ul class="dropdown-menu" ng-if="menu.childs">

                        <li class="dropdown-submenu" ng-repeat="submenu in menu.childs"><a href="#/products/{{submenu.id}}/">{{submenu.description['name']}}</a>
                            <ul class="dropdown-menu" ng-if="submenu.childs">
                                <li ng-repeat="subofsub in submenu.childs"><a
                                        href="#/products/productdesc/{{subofsub.id}}/">{{subofsub.description['name']}}</a></li>

                            </ul></li>

                    </ul>
                </li>
            </ul>
            <!--<div class="list-group">-->
            <!---->

            <!--&lt;!&ndash;<a class="list-group-item"  ng-click="myFilter = {category: 1}">Mobile</a>&ndash;&gt;-->
            <!--&lt;!&ndash;<a class="list-group-item"  ng-click="myFilter = {category: 2}">Tab</a>&ndash;&gt;-->
            <!--&lt;!&ndash;<a class="list-group-item" ng-click="myFilter = {category: 3}">Others</a>&ndash;&gt;-->
            <!--&lt;!&ndash;<a class="list-group-item" ng-click="myFilter = null">All</a>&ndash;&gt;-->
            <!--<a class="list-group-item" ng-repeat="category in categories.childs">-->

            <!--{{ category.description.name }}-->

            <!--</a>-->



            <!--</div>-->
        </div>

        <div class="col-md-9">

            <div class="thumbnail">
                <div ng-controller="slideShowController" class="imageslide " ng-switch='slideshow' ng-animate="'animate'">
                    <div class="slider-content" ng-switch-when="1">
                        <img src="http://farm9.staticflickr.com/8042/7918423710_e6dd168d7c_b.jpg">
                    </div>
                    <div class="slider-content" ng-switch-when="2">
                        <img src="http://farm9.staticflickr.com/8449/7918424278_4835c85e7a_b.jpg">
                    </div>
                    <div class="slider-content" ng-switch-when="3">
                        <img src="http://farm9.staticflickr.com/8457/7918424412_bb641455c7_b.jpg">
                    </div>
                    <div class="slider-content" ng-switch-when="4">
                        <img src="http://farm9.staticflickr.com/8179/7918424842_c79f7e345c_b.jpg">

                    </div>
                </div>
                <!----   <div class="caption-full">
                   <h4 class="pull-right">$24.99</h4>
                   <h4><a href="#">Product Name</a>
                   </h4>
                   <p>See more snippets like these online store reviews at <a target="_blank" href="http://bootsnipp.com">Bootsnipp - http://bootsnipp.com</a>.</p>
                   <p>Want to make these reviews work? Check out
                       <strong><a href="http://maxoffsky.com/code-blog/laravel-shop-tutorial-1-building-a-review-system/">this building a review system tutorial</a>
                       </strong>over at maxoffsky.com!</p>
                   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
               </div>
               <div class="ratings">
                   <p class="pull-right">3 reviews</p>
                   <p>
                       <span class="glyphicon glyphicon-star"></span>
                       <span class="glyphicon glyphicon-star"></span>
                       <span class="glyphicon glyphicon-star"></span>
                       <span class="glyphicon glyphicon-star"></span>
                       <span class="glyphicon glyphicon-star-empty"></span>
                       4.0 stars
                   </p>
               </div> --------->
            </div>



        </div>

    </div>
</div>
<div class="container">
    <div class="row">
        <div class="row">
            <div class="col-md-12">

                <h3> Featured Products </h3>
                <hr>
            </div>

        </div>


        <!-- Wrapper for slides -->
        <div class="carousel-inner" >
            <div class="item active">
                <div class="row" ng-controller="productcontroller">
                    <div ng-repeat="product in [itemdatas] track by $index" >
                        <div class="col-sm-2" ng-repeat="prod in product.products | filter:search ">

                            <div class="col-item">
                                <div class="photo productimages">
                                    <div ng-if="prod.quantity != '0'">
                                        <div class="ribbon-wrapper-green"><div class="ribbon-green">Sale</div></div>
                                    </div>
                                    <div ng-if="prod.quantity == '0'">
                                        <div class="ribbon-wrapper-green"><div class="ribbon-gray">Out of stock</div></div>
                                    </div>
                                    <a ng-href="#/products/productdesc/{{prod.id}}/">

                                        <img src="{{prod.image.imageUrl}}" class="img-responsive"
                                             alt="{{prod.description.title}}" /></a>

                                </div>

                                <div class="info">
                                    <div class="row">
                                        <div class="price col-md-12">
                                            <!--<a href="" tooltip-title="prod.description.name">{{prod.description.name | uppercase | cut:true:20:' ...'}}</a>-->
                                            <!--<a href="#" tooltips="" tooltip-title="{{prod.description.name}}" tooltip-side="right">Right-->
                                            <!--</a>-->
                                            <a ng-href="#/products/productdesc/{{prod.id}}/"
                                               title="{{prod.description.name}}" ng-class="tooltip">{{prod.description.name |
                                                uppercase | cut:true:20:' ...'}}</a>

                                            <!--<input type="hidden" ng-model="item.price" value="{{product.price}}">-->
                                            <h5 class="price-text-color">{{prod.price}}
                                                <!--<input type="hidden" ng-model="item.productname" value="{{product.productname}}">-->
                                                <!--${{product.price}}--></h5>
                                        </div>

                                    </div>
                                    <div class="separator clear-left">

                                        <p class="btn-add" data-ng-init="quantity=prod.quantityOrderMinimum;">
                                            <input type="number"  ng-model="quantity"
                                                   ng-disabled="prod.quantity == '0'"
                                                   class="form-control text-center"
                                                   value={{prod.quantityOrderMinimum}}
                                                   min={{prod.quantityOrderMinimum}}
                                                   max={{prod.quantityOrderMaximum}}></p>
                                        <p class="btn-details">

                                            <!--ng-click="addToCart(product.id,product.price,product.productname,1)"-->

                                            <a href="" class="hidden-sm btn btn-group-sm btn-primary"
                                               ng-click="click(product,quantity)"
                                               ng-disabled="quantity == null || prod.quantity == '0'">
                                                <i class="fa fa-shopping-cart"></i>Add
                                            </a></p>
                                    </div>
                                    <div class="clearfix">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>


</div>