<!--<table border="1">-->

<!--<tr ng-repeat="productcart in productcarts">-->
<!--<td><input type="text" ng-model="productcart.productname" class="input-small"></td>-->
<!--<td><input type="number" ng-model="productcart.price"  class="input-mini">  </td>-->
<!--<td><input type="number" ng-model="productcart.imageUrl"  class="input-mini">  </td>-->
<!--<td><input type="number" ng-model="productcart.quantity"  class="input-mini">  </td>-->
<!--&lt;!&ndash;<td>{{item.qty * item.cost | currency}}</td>&ndash;&gt;-->
<!--<td>-->
<!--[<a href ng-click="removeItem($index)">X</a>]-->
<!--</td>-->
<!--</tr>-->
<!--</table>-->

<div class="container">
    <div class="row">
        <div class="row">
            <div class="col-md-12">

                <h3> Featured Products </h3>
                <hr>
            </div>

        </div>


        <!-- Wrapper for slides -->
        <div class="carousel-inner" ng-controller="featured">
            <div class="item active">
                <div class="row">
                    <!--To get grey out-->
                    <!--ng-class="{true:'greyed item', false:'item'}[feature.available]"-->
                    <div class="col-sm-2" ng-repeat="feature in featuredpros">


                        <div class="col-item"  ng-class="{true:'item', false:'greyed item'}[feature.available]">
                            <div class="overlay"></div>
                            <div class="photo productimages">
                                <div ng-if="feature.quantity != '0'">
                                    <div class="ribbon-wrapper-green"><div class="ribbon-green">Sale</div></div>
                                </div>
                                <div ng-if="feature.quantity == '0'">
                                    <div class="ribbon-wrapper-green"><div class="ribbon-gray">Out of stock</div></div>
                                </div>
                                <p ng-if="messagetoshow.id == feature.id"
                                   style="position: absolute;background-color: #bce8f1;padding: 8px;
                                        width: 87%;">{{messagetoshow
                                    .msg}}</p>
                                <a ng-href="#/products/productdesc/{{feature.id}}/">

                                    <img ng-show="feature.image.imageUrl != null"
                                         src="{{feature.image.imageUrl}}"
                                         class="img-responsive"
                                         alt="{{feature.description.title}}" />
                                    <img ng-show="feature.image.imageUrl == null" src="img/No_image_available.svg"
                                         class="img-responsive"
                                         alt="{{feature.description.title}}" />
                                </a>


                            </div>

                            <div class="info">
                                <div class="row">
                                    <div class="price col-md-12">
                                        <!--<a href="" tooltip-title="prod.description.name">{{prod.description.name | uppercase | cut:true:20:' ...'}}</a>-->
                                        <!--<a href="#" tooltips="" tooltip-title="{{prod.description.name}}" tooltip-side="right">Right-->
                                        <!--</a>-->

                                        <a ng-href="#/products/productdesc/{{feature.id}}/"
                                           title="{{feature.description.name}}" ng-class="tooltip">{{feature.description.name |
                                            uppercase | cut:true:20:' ...'}}</a>

                                        <!--<input type="hidden" ng-model="item.price" value="{{product.price}}">-->
                                        <h5 class="price-text-color">{{feature.finalPrice}}
                                            <!--<input type="hidden" ng-model="item.productname" value="{{product.productname}}">-->
                                            <!--${{product.price}}--></h5>
                                    </div>

                                </div>
                                <div class="separator clear-left">

                                    <p class="btn-add" data-ng-init="quantity=feature.quantityOrderMinimum;">
                                        <input type="number"  ng-model="quantity"
                                               ng-disabled="prod.quantity == '0'"
                                               class="form-control text-center"
                                               value={{feature.quantityOrderMinimum}}
                                               min={{feature.quantityOrderMinimum}}
                                               max={{feature.quantityOrderMaximum}} ></p>
                                    <p class="btn-details">
                                        <!--ng-click="addToCart(product.id,product.price,product.productname,1)"-->

                                        <input type="button" class="hidden-sm btn btn-group-sm btn-primary"
                                           ng-click="addProduct(feature.id,quantity)"
                                           ng-disabled="quantity == null || feature.quantity == '0'" value="Add">
                                            <i class="fa fa-shopping-cart"></i>
                                        </p>


                                </div>
                                <div class="clearfix">
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

        </div>

    </div>


</div>