<nav class="navbar navbar-inverse nav-innermenu">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-control" id="bs-example-navbar-collapse-1">


            <!--<li ng-repeat="mainmenu in mainmenus">-->
            <!--<a ng-href="#/{{mainmenu.description['friendlyUrl']}}" title="{{mainmenu.description['title']}}">{{mainmenu.description['name']}}</a>-->
            <!--</li>-->


            <ul class="nav navbar-nav navbar-right" ng-controller="menucontroller" ng-cloak>

                <li class="dropdown" ng-repeat="menu in menus">
                    <a ng-href="#/products/{{menu.code}}/"
                       class="dropdown disabled" data-toggle="dropdown">
                        {{menu.description['name'] | uppercase}} <span ng-if="menu.childs" class="caret"></span>
                    </a>
                    <ul ng-if="menu.childs" class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                        <li class="dropdown-submenu" ng-repeat="submenu in menu.childs">
                            <a  ng-href="#/products/{{submenu.code}}/">{{submenu.description['name']}}</a>
                            <ul class="dropdown-menu" ng-if="submenu.childs">
                                <li class="dropdown-submenu" ng-repeat="subofsub in submenu.childs">
                                    <a ng-href="#/products/{{subofsub.code}}">{{subofsub.description['name']}}</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="#/login/">Login/Register</a></li>

                <!--<li class="prod-dropdown" ng-repeat="menu in menus" ng-class="{proddropdown: menu.menus}">-->
                <!--<a ng-href="#/{{menu.action}}" ng-class="{'dropdown-toggle': menu.menus}"-->
                <!--data-toggle="dropdown">{{menu.description['name']}} </a>-->

                <!--<ul class="dropdown-menu">-->
                <!--<li ng-repeat="submenu in menu.childs">-->
                <!--<a ng-href="#/{{submenu.description['friendlyUrl']}}">{{submenu.description['name']}}</a>-->
                <!--</li>-->
                <!--</ul>-->
                <!--</li>-->



                <!--<li class="prod-dropdown" >-->
                <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>-->
                <!--<ul class="dropdown-menu">-->
                <!--<li><a href="#">Action</a></li>-->
                <!--<li><a href="#">Another action</a></li>-->
                <!--<li><a href="#">Something else here</a></li>-->
                <!--<li class="divider"></li>-->
                <!--<li><a href="#">Separated link</a></li>-->
                <!--<li class="divider"></li>-->
                <!--<li><a href="#">One more separated link</a></li>-->
                <!--</ul>-->
                <!--</li>-->


            </ul>

        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="container" ng-show>
    <div class="row">
        <div class="col-md-12">

            <div class="thumbnail">
                <div ng-controller="slideShowController" class="imageslide " ng-switch='slideshow' ng-animate="'animate'">
                    <div class="slider-content" ng-switch-when="1">
                        <img src="http://farm9.staticflickr.com/8042/7918423710_e6dd168d7c_b.jpg">
                    </div>
                    <div class="slider-content" ng-switch-when="2">
                        <img src="http://farm9.staticflickr.com/8449/7918424278_4835c85e7a_b.jpg">
                    </div>
                    <div class="slider-content" ng-switch-when="3">
                        <img src="http://farm9.staticflickr.com/8457/7918424412_bb641455c7_b.jpg">
                    </div>
                    <div class="slider-content" ng-switch-when="4">
                        <img src="http://farm9.staticflickr.com/8179/7918424842_c79f7e345c_b.jpg">

                    </div>
                </div>
                <!----   <div class="caption-full">
                   <h4 class="pull-right">$24.99</h4>
                   <h4><a href="#">Product Name</a>
                   </h4>
                   <p>See more snippets like these online store reviews at <a target="_blank" href="http://bootsnipp.com">Bootsnipp - http://bootsnipp.com</a>.</p>
                   <p>Want to make these reviews work? Check out
                       <strong><a href="http://maxoffsky.com/code-blog/laravel-shop-tutorial-1-building-a-review-system/">this building a review system tutorial</a>
                       </strong>over at maxoffsky.com!</p>
                   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
               </div>
               <div class="ratings">
                   <p class="pull-right">3 reviews</p>
                   <p>
                       <span class="glyphicon glyphicon-star"></span>
                       <span class="glyphicon glyphicon-star"></span>
                       <span class="glyphicon glyphicon-star"></span>
                       <span class="glyphicon glyphicon-star"></span>
                       <span class="glyphicon glyphicon-star-empty"></span>
                       4.0 stars
                   </p>
               </div> --------->
            </div>



        </div>
    </div>
</div>