<!--<table border="1">-->

<!--<tr ng-repeat="productcart in productcarts">-->
    <!--<td><input type="text" ng-model="productcart.productname" class="input-small"></td>-->
    <!--<td><input type="number" ng-model="productcart.price"  class="input-mini">  </td>-->
    <!--<td><input type="number" ng-model="productcart.imageUrl"  class="input-mini">  </td>-->
    <!--<td><input type="number" ng-model="productcart.quantity"  class="input-mini">  </td>-->
    <!--&lt;!&ndash;<td>{{item.qty * item.cost | currency}}</td>&ndash;&gt;-->
    <!--<td>-->
        <!--[<a href ng-click="removeItem($index)">X</a>]-->
    <!--</td>-->
<!--</tr>-->
<!--</table>-->

<div class="container">
    <div class="row">
        <div class="row">
            <div class="col-md-12" ng-controller="menucontroller">

                <h1>{{categories.description.name}}</h1>
                <hr>
            </div>

        </div>


        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <div class="row">
                    <div ng-repeat="product in [itemdatas] track by $index" >
                      <div class="col-sm-2" ng-repeat="prod in product.products | filter:search " ng-class="{true:'item', false:'greyed item'}[prod.available]">
                          <div class="overlay"></div>

                            <div class="col-item">
                                <div class="photo productimages">
                                    <div ng-if="prod.quantity != '0'">
                                    <div class="ribbon-wrapper-green"><div class="ribbon-green">Sale</div></div>
                                    </div>
                                    <div ng-if="prod.quantity == '0'">
                                    <div class="ribbon-wrapper-green"><div class="ribbon-gray">Out of stock</div></div>
                                    </div>
                                    <a ng-href="#/products/productdesc/{{prod.id}}/">

                                        <img ng-show="prod.image.imageUrl != null" src="{{prod.image.imageUrl}}"
                                             class="img-responsive"
                                             alt="{{prod.description.title}}" />
                                        <img ng-show="prod.image.imageUrl == null" src="img/No_image_available.svg"
                                             class="img-responsive"
                                             alt="{{feature.description.title}}" />
                                    </a>

                                </div>

                                <div class="info">
                                    <div class="row">
                                        <div class="price col-md-12">
                                            <!--<a href="" tooltip-title="prod.description.name">{{prod.description.name | uppercase | cut:true:20:' ...'}}</a>-->
                                            <!--<a href="#" tooltips="" tooltip-title="{{prod.description.name}}" tooltip-side="right">Right-->
                                            <!--</a>-->
                                            <a ng-href="#/products/productdesc/{{prod.id}}/"
                                               title="{{prod.description.name}}" ng-class="tooltip">{{prod.description.name |
                                                uppercase | cut:true:20:' ...'}}</a>

                                            <!--<input type="hidden" ng-model="item.price" value="{{product.price}}">-->
                                            <h5 class="price-text-color">{{prod.finalPrice}}
                                                <!--<input type="hidden" ng-model="item.productname" value="{{product.productname}}">-->
                                                <!--${{product.price}}--><span class="originalPrice pull-right">{{prod.originalPrice}}</span></h5>
                                        </div>

                                    </div>
                                    <div class="separator clear-left">

                                        <p class="btn-add" data-ng-init="quantity=prod.quantityOrderMinimum;">
                                            <input type="number"  ng-model="quantity"
                                                   ng-disabled="prod.quantity == '0'"
                                                   class="form-control text-center"
                                                   value={{prod.quantityOrderMinimum}}
                                                   min={{prod.quantityOrderMinimum}}
                                                   max={{prod.quantityOrderMaximum}}></p>
                                        <p class="btn-details">

                                            <!--ng-click="addToCart(product.id,product.price,product.productname,1)"-->

                                    <a href="" class="hidden-sm btn btn-group-sm btn-primary"
                                       ng-click="click(product,quantity)"
                                       ng-disabled="quantity == null || prod.quantity == '0'">
                                        <i class="fa fa-shopping-cart"></i>Add
                                            </a></p>
                                    </div>
                                    <div class="clearfix">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>


</div>