<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-md-12">
        <div class="col-md-3 well">
            <img src="" alt="">
        </div>
        <div class="col-md-9 well">
        </div>
     </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12 search-bar pull-right">

            <div id="custom-search-input">
                <div class="input-group col-md-12">
                    <input type="text" class="form-control input-lg" placeholder="Search" />
                    <span class="input-group-btn">
                        <button class="btn btn-info btn-lg" type="button">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="content-wrapper">
        <div class="item-container">
            <div class="container">
                <div class="col-md-12">
                    <div class="product col-md-3 service-image-left">

                        <center>
                            <img id="item-display" src="{{prodescdata.image.imageUrl}}" alt="">
                        </center>
                    </div>

                    <div class="container service1-items col-sm-2 col-md-2 pull-left">
                    <center>
                     <div ng-repeat="additionalimage in prodescdata.images">
                    <a id="item-{{$index + 1}}" class="service1-item" >
                    <img src="{{additionalimage.imageUrl}}" alt="">
                    </a>
                     </div>
                    </center>
                    </div>
                    <div class="col-md-7">
                        <div class="product-title">{{prodescdata.description.name}}</div>

                        <div class="product-rating"><i class="fa fa-star gold"></i> <i class="fa fa-star gold"></i> <i class="fa fa-star gold"></i> <i class="fa fa-star gold"></i> <i class="fa fa-star-o"></i> </div>
                        <hr>
                        <div
                                class="product-price"><span class="finalprice">{{prodescdata.finalPrice}}</span><span
                                class="originalPrice right">{{prodescdata.originalPrice}}</span></div>
                        <div class="product-stock" ng-if="prodescdata.available==true">In Stock</div>
                        <div class="product-stock" ng-if="prodescdata.available==false">Out of Stock</div>

                        <div class="btn-group cart">
                            <button type="button" class="btn btn-primary">
                                Add to cart
                            </button>
                        </div>
                        <hr>

                        <div class="btn-group wishlist">
                            <!--<button type="button" class="btn btn-danger">-->
                            <!--Add to wishlist-->
                            <!--</button>-->
                        </div>
                    </div>
                </div>


            </div>
        </div>

        <div class="container-fluid">
            <div class="col-md-12 product-info">
                <ul id="myTab" class="nav nav-tabs nav_tabs">

                    <li class="active"><a href="#service-one" data-toggle="tab">DESCRIPTION</a></li>
                    <!--<li><a href="#service-two" data-toggle="tab">PRODUCT INFO</a></li>-->
                    <!--<li><a href="#service-three" data-toggle="tab">REVIEWS</a></li>-->

                </ul>
                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade in active" id="service-one">

                        <section class="container product-info">
                            {{prodescdata.description.description}}
                        </section>

                    </div>
                    <!--<div class="tab-pane fade" id="service-two">-->

                    <!--<section class="container">-->

                    <!--</section>-->

                    <!--</div>-->
                    <!--<div class="tab-pane fade" id="service-three">-->

                    <!--</div>-->
                </div>
                <hr>
            </div>
        </div>

    </div>
</div>
<!-- /.container -->