<div class="container">
    <div class="row">
        <div class="col-md-12 search-bar">

            <div id="custom-search-input">
                <div class="input-group col-md-12">
                    <input type="text" ng-model="search" class="form-control input-lg" placeholder="Search" />
                    <span class="input-group-btn">
                        <button class="btn btn-info btn-lg" type="button">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Page Content -->
<div class="container">

    <div class="row row-offcanvas row-offcanvas-left">
        <div class="row-offcanvas row-offcanvas-right">
            <div class="col-xs-6 col-sm-2 sidebar-offcanvas" id="sidebarLeft" role="navigation">
                <p class="visible-xs">
                    <button class="btn btn-primary btn-xs" type="button" data-toggle="offcanvas"><i class="glyphicon glyphicon-chevron-left"></i></button>
                </p>
                <div class="well sidebar-nav">
                    <ul class="nav">
                        <li>Left Sidebar</li>
                        <li class="active"><a href="#">Link</a></li>
                        <li><a href="#">Link</a></li>
                        <li><a href="#">Link</a></li>
                        <li><a href="#">Link</a></li>
                        <li><a href="#">Link</a></li>
                        <li><a href="#">Link</a></li>
                        <li><a href="#">Link</a></li>
                        <li><a href="#">Link</a></li>
                    </ul>
                </div><!--/.well -->
            </div><!--/span-->

            <div class="col-xs-12 col-sm-8 cart-fixed-container">
                <div class="row" ng-repeat="product in productdata | filter: search">
                    <div class="col-6 col-sm-6 col-lg-4">
                        <img src="{{product.imageUrl}}" class="img-responsive">
                    </div><!--/span-->
                    <div class="col-sm-6 col-lg-4">
                        <h5>{{product.productname}}-{{product.id}}</h5>
                        <p>Bootply is a playground for Bootstrap that enables developers and designers to test, prototype and create mockups using Bootstrap friendly HTML, CSS and Javascript. Bootstrap is a front-end framework that uses CSS and JavaScript to facilitate responsive Web design. </p>

                    </div><!--/span-->
                    <div class="col-sm-6 col-lg-4">

                        <p><a class="btn btn-default" href="#">View details »</a></p>
                    </div><!--/span-->
                </div><!--/row-->

                <!--<div class="row">-->
                    <!--<div class="col-6 col-sm-6 col-lg-4">-->
                        <!--<img src="http://placehold.it/800x300" class="img-responsive">-->
                    <!--</div>&lt;!&ndash;/span&ndash;&gt;-->
                    <!--<div class="col-sm-6 col-lg-4">-->

                        <!--<p>Bootply is a playground for Bootstrap that enables developers and designers to test, prototype and create mockups using Bootstrap friendly HTML, CSS and Javascript. Bootstrap is a front-end framework that uses CSS and JavaScript to facilitate responsive Web design. </p>-->

                    <!--</div>&lt;!&ndash;/span&ndash;&gt;-->
                    <!--<div class="col-sm-6 col-lg-4">-->

                        <!--<p><a class="btn btn-default" href="#">View details »</a></p>-->
                    <!--</div>&lt;!&ndash;/span&ndash;&gt;-->
                <!--</div>&lt;!&ndash;/row&ndash;&gt;-->

                <!--<div class="row">-->
                    <!--<div class="col-6 col-sm-6 col-lg-4">-->
                        <!--<img src="http://placehold.it/800x300" class="img-responsive">-->
                    <!--</div>&lt;!&ndash;/span&ndash;&gt;-->
                    <!--<div class="col-sm-6 col-lg-4">-->

                        <!--<p>Bootply is a playground for Bootstrap that enables developers and designers to test, prototype and create mockups using Bootstrap friendly HTML, CSS and Javascript. Bootstrap is a front-end framework that uses CSS and JavaScript to facilitate responsive Web design. </p>-->

                    <!--</div>&lt;!&ndash;/span&ndash;&gt;-->
                    <!--<div class="col-sm-6 col-lg-4">-->

                        <!--<p><a class="btn btn-default" href="#">View details »</a></p>-->
                    <!--</div>&lt;!&ndash;/span&ndash;&gt;-->
                <!--</div>&lt;!&ndash;/row&ndash;&gt;-->
                <!--<div class="row">-->
                    <!--<div class="col-6 col-sm-6 col-lg-4">-->
                        <!--<img src="http://placehold.it/800x300" class="img-responsive">-->
                    <!--</div>&lt;!&ndash;/span&ndash;&gt;-->
                    <!--<div class="col-sm-6 col-lg-4">-->

                        <!--<p>Please select the products you want and add them to your shopping cart. Please select the products you want and add them to your shopping cart. </p>-->

                    <!--</div>&lt;!&ndash;/span&ndash;&gt;-->
                    <!--<div class="col-sm-6 col-lg-4">-->

                        <!--<p><a class="btn btn-default" href="#">View details »</a></p>-->
                    <!--</div>&lt;!&ndash;/span&ndash;&gt;-->
                <!--</div>&lt;!&ndash;/row&ndash;&gt;-->
                <!--<div class="row">-->
                    <!--<div class="col-6 col-sm-6 col-lg-4">-->
                        <!--<img src="http://placehold.it/800x300" class="img-responsive">-->
                    <!--</div>&lt;!&ndash;/span&ndash;&gt;-->
                    <!--<div class="col-sm-6 col-lg-4">-->

                        <!--<p>When you are done, click the shopping cart icon to review your order and check out. </p>-->

                    <!--</div>&lt;!&ndash;/span&ndash;&gt;-->
                    <!--<div class="col-sm-6 col-lg-4">-->

                        <!--<p><a class="btn btn-default" href="#">View details »</a></p>-->
                    <!--</div>&lt;!&ndash;/span&ndash;&gt;-->
                <!--</div>&lt;!&ndash;/row&ndash;&gt;-->
            </div><!--/span-->

            <div class="col-xs-6 col-sm-2 sidebar-offcanvas" id="sidebarRight" role="navigation">
                <p class="visible-xs">
                    <button class="btn btn-primary btn-xs" type="button" data-toggle="offcanvas"><i class="glyphicon glyphicon-chevron-left"></i></button>
                </p>
                <div class="well sidebar-nav">
                    <ul class="nav">
                        <li>Right Sidebar</li>
                        <li class="active"><a href="#">Link</a></li>
                        <li><a href="#">Link</a></li>
                        <li><a href="#">Link</a></li>
                        <li><a href="#">Link</a></li>
                        <li><a href="#">Link</a></li>
                        <li><a href="#">Link</a></li>
                        <li>Sidebar</li>
                        <li><a href="#">Link</a></li>
                        <li><a href="#">Link</a></li>
                    </ul>
                </div><!--/.well -->
            </div><!--/span-->

        </div>

    </div><!--/row-->

</div>